.ffolder {
  position: relative;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.ffolder.medium {
  margin-top: 16px;
  width: 176px;
  height: 122px;
  border-radius: 0px 10px 10px 10px;
}

.ffolder:before {
  content: '';
  display: block;
  position: absolute;
}

.ffolder:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
}

.ffolder.medium:before {
  top: -16px;
  left: 0;
  width: 64px;
  height: 16px;
  border-radius: 10px 0px 0px 0px;
}

.ffolder.medium:after {
  top: -32px;
  left: 48px;
  border: 16px solid transparent;
}

.ffolder span,
.ffolder i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ffolder span {
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 15px;
  /* white-space: nowrap; */
  width: 125px;
  text-transform: uppercase;
  /* font-weight: bold; */
}

.ffolder.medium i {
  font-size: 53px;
}

/*Available colors*/
.ffolder.cyan {
  background-color: #23cbf4;
}
.ffolder.cyan:before,
.ffolder.cyan span {
  background-color: #06baee;
}
.ffolder.cyan:after {
  border-bottom-color: #06baee;
}
.ffolder.cyan span {
  color: #ffffff;
}
.ffolder.cyan i {
  color: #06baee;
}

.ffolder.yellow {
  background-color: #ffbd00;
}
.ffolder.yellow:before,
.ffolder.yellow span {
  background-color: #f1a402;
}
.ffolder.yellow:after {
  border-bottom-color: #f1a402;
}
.ffolder.yellow span {
  color: #ffffff;
}
.ffolder.yellow i {
  color: #f1a402;
}

.ffolder.pink {
  background-color: #ff7f92;
}
.ffolder.pink:before,
.ffolder.pink span {
  background-color: #ff5e6e;
}
.ffolder.pink:after {
  border-bottom-color: #ff5e6e;
}
.ffolder.pink span {
  color: #ffffff;
}
.ffolder.pink i {
  color: #ff5e6e;
}

.ffolder.green {
  background-color: #62de82;
}
.ffolder.green:before,
.ffolder.green span {
  background-color: #66ca7f;
}
.ffolder.green:after {
  border-bottom-color: #66ca7f;
}
.ffolder.green span {
  background-color: transparent;
}
.ffolder.green i {
  color: #54c170;
}

.ffolder.gray {
  background-color: #829aa8;
}
.ffolder.gray:before,
.ffolder.gray span {
  background-color: #ccc;
}
.ffolder.gray:after {
  border-bottom-color: #687f8c;
}
.ffolder.gray span {
  background-color: transparent;
  text-transform: capitalize;
  font-size: 16px;
  color: #fff;
  text-align: left;
}
.ffolder.gray i {
  color: #fff;
}
